<section class="content-header">
    <h1>
        Proveedores
        <small>Seccion Proveedores </small>
    </h1>
    <ol class="breadcrumb">
        <li><a routerLink="/inicio"><i class="fa fa-dashboard"></i> Inicia</a></li>

        <li routerLinkActive="active">Proveedores</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Proveedores</h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                    title="Collapse">
                    <i class="fa fa-minus"></i></button>

            </div>
        </div>
        <div class="box-body">
            <div class="box-tools pull-right">
                <a class="btn   btn-xm btn-primary" data-toggle="modal" data-target="#myModal">
                    <span> Agregar</span></a>

            </div>


            <br><br><br>


            <div class="col-xs-12 table-responsive">


                <table class="table table-bordered table-responsive">

                    <thead>
                        <tr>
                            <th style="width: 1px;"> # </th>

                            <th>PROVEEDOR</th>
                            <th>VENDEDOR</th>
                            <th>TELEFONO</th>
                            <th>BANCO</th>
                            <th>CUENTA</th>
                            <th>NUMERO DE CUENTA</th>
                            <th>CEDULA</th>
                            <th>BENEFICIARIO</th>
                            <th>ACCION</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            *ngFor="let proveedor of proveedorService.proveedores | paginate:{itemsPerPage:5, currentPage: pageActual}; let i = index">

                            <td style="width: 1px;">{{i+1}}</td>
                            <td>{{proveedor.proveedor_nombre}}</td>
                            <td>{{proveedor.nombre_beneficiario}} </td>

                            <td>{{proveedor.telefono}} </td>
                            <td>{{proveedor.banco}}</td>
                            <td>{{proveedor.tipo_cuenta}} </td>
                            <td>{{proveedor.n_cuenta}} </td>
                            <td>{{proveedor.cedula}}</td>
                            <td>{{proveedor.beneficiario}}</td>
                            <td> <a class="btn   btn-sm btn-primary   pull-left" (click)="editProveedor(proveedor)"
                                    style="margin: 2px;" data-toggle="modal" data-target="#myModal">
                                    <i class="fa fa-pencil"></i> Editar

                                </a>

                                <a class="btn   btn-sm btn-danger  pull-left"
                                    (click)="deleteCategory(proveedor.id_proveedor, proveedorForm)"
                                    style="margin: 2px;">
                                    <i class="fa fa-times"></i> Eliminar
                                </a></td>

                        </tr>


                    </tbody>
                    <tfoot>

                    </tfoot>
                </table>
                <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>

            </div>
        </div>

        <!-- /.box-body -->
        <div class="box-footer">


            <!-- Modal -->

        </div>
        <!-- /.box-footer-->
    </div>
    <!-- /.box -->

</section>


<div class=" modal modal-primary   " id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">
                    {{!proveedorService.selectedProveedor.id_proveedor ?'Agregar' : 'Editar'}} Proveedor</h4>
            </div>
            <form #proveedorForm="ngForm" (ngSubmit)="addProveedor(proveedorForm)">
                <div class="modal-body">

                    <div class="box-body">

                        <input type="hidden" name="id_proveedor" #id_proveedor
                            [(ngModel)]="proveedorService.selectedProveedor.id_proveedor">

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>PROVEEDOR (*)</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-desktop"></i>
                                        </div>
                                        <input type="text" name="proveedor_nombre" #name="ngModel"
                                            [(ngModel)]="proveedorService.selectedProveedor.proveedor_nombre" class="form-control" required>
                                    </div>
                                   
                                </div>
                                <div class="form-group">
                                    <label>VENDEDOR (*)</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-user"></i>
                                        </div>
                                        <input type="text" name="nombre_beneficiario" #name="ngModel"
                                            [(ngModel)]="proveedorService.selectedProveedor.nombre_beneficiario" class="form-control" required>
                                    </div>
                                    
                                </div>
                                <div class="form-group">
                                    <label>TELEFONO (*)</label>

                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-phone"></i>
                                        </div>
                                        <input type="text" name="telefono" #name="ngModel" [(ngModel)]="proveedorService.selectedProveedor.telefono"
                                            class="form-control" required>
                                    </div>
                                    
                                </div>
                                <div class="form-group">
                                    <label>E-MAIL (*)</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-envelope"></i>
                                        </div>
                                                        <input type="text" name="email" #name="ngModel" [(ngModel)]="proveedorService.selectedProveedor.email"
                                                            class="form-control" required>
                                    </div>
                  
                                </div>

                                <div class="form-group">
                                    <label>DIRECCION (*)</label>

                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-map-pin"></i>
                                        </div>
                                        <input type="text" name="direccion" #name="ngModel" [(ngModel)]="proveedorService.selectedProveedor.direccion"
                                            class="form-control" required>
                                    </div>
                                    
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>PRODUCTOS (*)</label>
                                    <textarea class="form-control" name="descripcion_p" id="" cols="30" rows="12"
                                        #name="ngModel"
                                        [(ngModel)]="proveedorService.selectedProveedor.descripcion_p"></textarea>
                                </div>
                                <!-- /.form-group -->

                            </div>
                            <div class="col-md-4">

                                <div class="form-group">
                                    <label>BANCO (*)</label>
                                 
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-bold"></i>
                                        </div>
                                        <input type="text" name="banco" #name="ngModel" [(ngModel)]="proveedorService.selectedProveedor.banco"
                                            class="form-control" required>
                                    </div>
                                 
                                </div>
                                <div class="form-group">
                                    <label>CUENTA (*)</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-pencil-square-o"></i>
                                        </div>
                                        <select name="tipo_cuenta" #name="ngModel" [(ngModel)]="proveedorService.selectedProveedor.tipo_cuenta"
                                            class="form-control" required>
                                            <option value="selected"> </option>
                                            <option>Ahorros</option>
                                            <option>Corriente</option>
                                        </select>
                                    </div>
                                  

                                </div>
                                <div class="form-group">
                                    <label>NUMERO DE CUENTA (*)</label>

                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-credit-card"></i>
                                        </div>
                                        <input type="text" name="n_cuenta" #name="ngModel" [(ngModel)]="proveedorService.selectedProveedor.n_cuenta"
                                            class="form-control" required>
                                    </div>
                                   
                                </div>
                                <div class="form-group">
                                    <label>CEDULA (*)</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa  fa-cc-jcb"></i>
                                        </div>
                                    <input type="text" name="cedula" #name="ngModel" [(ngModel)]="proveedorService.selectedProveedor.cedula"
                                        class="form-control" required>
                                    </div>
                                   
                                </div>
                                <div class="form-group">
                                    <label>BENEFICIARIO (*)</label>
                                     <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-user-secret"></i>
                                        </div>
                                    <input type="text" name="beneficiario" #name="ngModel" [(ngModel)]="proveedorService.selectedProveedor.beneficiario"
                                        class="form-control" required>
                                    </div>
                                  
                                </div>
                                <!-- /.form-group -->

                            </div>
                        </div>


                    </div>



                </div>
                <div class="modal-footer">


                    <button class="btn btn-outline pull-left" data-dismiss="modal" (click)="resetForm(proveedorForm)"><i
                            class="fa fa-remove"></i> Cerrar</button>

                    <button class="btn btn-outline"> <i class="fa  fa-folder"></i> Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>