<section class="content-header">
    <h1>
        Finanzas
        <small>Seccion Facturacion de Servicio </small>
    </h1>
    <ol class="breadcrumb">
        <li><a routerLink="/inicio"><i class="fa fa-dashboard"></i> Inicia</a></li>

        <li routerActive="active">Facturacion</li>
    </ol>
</section>
<section class="content">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab_1" data-toggle="tab">Registrar Pago</a></li>


        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab_1">
                <div class="box-body">
                    <mat-form-field>
                        <mat-label>Buscar Cliente</mat-label>
                        <input matInput type="text" class="form-control" (keyup)="applyFilter($event)" placeholder="..." #input autofocus>
                    </mat-form-field>
                     <div class="table-responsive">

  
    
    <table bordered="true" mat-table [dataSource]="dataSource" class="table table-bordered"  matSort>
    
        <!-- Position Column -->
        <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> NOMBRE </th>
    
            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    
    
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="apellido">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> APELLIDO </th>
            <td mat-cell *matCellDef="let element"> {{element.apellido}} </td>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="cedula">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> CEDULA </th>
            <td mat-cell *matCellDef="let element"> {{element.cedula}} </td>
        </ng-container>
    
        <!-- Weight Column -->
        <ng-container matColumnDef="direccion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> DIRECCION </th>
            <td mat-cell *matCellDef="let element"> {{element.direccion}} </td>
        </ng-container>
    
        <!-- Symbol Column -->
        <ng-container matColumnDef="telefono">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> TELEFONO </th>
            <td mat-cell *matCellDef="let element"> {{element.telefono}} </td>
        </ng-container>
    
        <!-- Symbol Column -->
        <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ESTADO </th>
            <td mat-cell *matCellDef="let element"> <span class="label label-danger" *ngIf="element.estado == 0">
                    Pendiente</span>
                <span class="label label-success" *ngIf="element.estado != 0">Pagado</span> </td>
        </ng-container>
        <ng-container matColumnDef="accion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ACCION </th>
            <td mat-cell *matCellDef="let element">
                <a class="btn   btn-sm btn-primary pull-left" (click)="editFactura(element) " style="margin: 2px;"
                    data-toggle="modal" data-target="#myModal">
                    <i class="fa  fa-pencil-square-o"></i></a>
                <a *ngIf="element.estado != 0" class="btn   btn-sm btn-warning pull-left" style="margin: 2px;"(click)="generatePdf(element)">
                    <i class="fa  fa-print"></i></a>
    
            </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No se encontro "{{input.value}}"</td>
        </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

                    </div>
                </div>


            </div>
            
        </div>
      
    </div>
</section>


<div class="modal modal-succes" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Detalle Pago</h4>
            </div>
            <form  #facturaForm="ngForm" (ngSubmit)="addFactura(facturaForm)">
                <div class="modal-body">

                    <div class="box-body">

                        <input type="hidden" name="idusuario" #idusuario  [(ngModel)] = "usuario.idusuario" >

<input type="hidden" name="idfactura" #idfactura  [(ngModel)]="facturaService.selectedContrato.idfactura" >
                        <div class="row">
                            <div class="col-md-6">
                              
                                <div class="form-group">
                                    <label>NOMBRE (*)</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-user"></i>
                                        </div>
                                        <input type="text" name="nombre" class="form-control" #name="ngModel"
                                            [(ngModel)]="facturaService.selectedContrato.nombre" disabled>
                                    </div>
                        
                        
                                </div>
                            <div class="form-group">
                                <label>N DE CEDULA </label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-credit-card"></i>
                                    </div>
                                    <input type="text" name="cedula" class="form-control" #name="ngModel"
                                        [(ngModel)]="facturaService.selectedContrato.cedula" disabled>
                                </div>
                            
                            
                            </div>
                               
                            <div class="form-group">
                                <label for="">PROXIMO PAGO</label>
                                <div class="input-group ">
                                    <span class="input-group-addon">
                                        <i class="fa  fa-calendar"></i>
                                    </span>
                                    <input type="date" class="form-control" data-inputmask="'alias': 'dd/mm/yyyy'"  name="fecha_pago_prox"
                                        #name="ngModel" [(ngModel)]="facturaService.selectedContrato.fecha_pago_prox" required>
                                </div>
                            </div>
                         
                            </div>
                            <div class="col-md-6">
                            
                                <div class="form-group">
                                    <label>APELLIDO</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-user"></i>
                                        </div>
                                        <input type="text" name="apellido" class="form-control" #name="ngModel"
                                            [(ngModel)]="facturaService.selectedContrato.apellido" disabled>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="">FECHA PAGO</label>
                                    <div class="input-group ">
                                        <span class="input-group-addon">
                                            <i class="fa  fa-calendar"></i>
                                        </span>
                                        <div *ngIf="facturaService.selectedContrato.fecha_pago; else elseBlock"><input type="date" class="form-control"  name="fecha_pago"
                                            data-inputmask="'alias': 'dd/mm/yyyy'" #name="ngModel" [(ngModel)]="facturaService.selectedContrato.fecha_pago" ></div>
<ng-template #elseBlock>
    <input type="date" class="form-control"  name="fecha_pago2" data-inputmask="'alias': 'dd/mm/yyyy'"
    #name="ngModel" [(ngModel)]="facturaService.selectedContrato.fecha_pago2" required></ng-template>
                                        
                                    </div>
                                </div>
                            
                            
                            
                            
                            
                            
                            </div>
                        
                         
                        </div>
                        <!-- /.row -->

                        <div class="row">
                            <div class="col-xs-12 table-responsive">
                                <table class="table table-striped table-bordered"  >
                                    <thead>
                                        <tr >
                                            <th>#</th>
                                            <th>PLAN</th>
                                          
                                            <th>DESCRIPCION</th>
                                            <th>SUBTOTAL</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>{{facturaService.selectedContrato.nombre_plan}}</td>
                                           
                                            <td>{{facturaService.selectedContrato.descripcion}}</td>
                                            <td>$ {{facturaService.selectedContrato.precio}}</td>
                                        </tr>
                                       
                                      
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.col -->
                        </div>

                        <div class="row">
                           
                            <div class="col-xs-6">
                             
                        
                                <div class="table-responsive">
                                    <table class="table">
                                     
                                        <tr>
                                            <th>Total:</th>
                                            <td>$ {{facturaService.selectedContrato.precio}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn pull-left" data-dismiss="modal" ><i
                            class="fa fa-remove"></i> Cerrar</button>
                    
                    <button class="btn  btn-primary"> <i class="fa  fa-folder"></i> Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>