<section class="content-header">
    <h1>
        Finanzas
        <small>Seccion Facturacion de Servicio </small>
    </h1>
    <ol class="breadcrumb">
        <li><a routerLink="/inicio"><i class="fa fa-dashboard"></i> Inicia</a></li>

        <li routerActive="active">Facturacion</li>
    </ol>
</section>
<section class="content">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab_1" data-toggle="tab">Registrar Pago</a></li>
            <li><a href="#tab_2" data-toggle="tab">Pagos Registrados</a></li>
            <li><a href="#tab_3" data-toggle="tab">Pagos Pendientes</a></li>


        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab_1">
                <div class="box-body">
                    <div class="row">
                        <div class="colum-md-6">
                            <form #buscarForm="ngForm" (ngSubmit)="buscar(buscarForm)">
                                <div class="form-group">
                                    <label for="">NUMERO DE CEDULA (*)</label>
                                    <div class="input-group margin">
                                        <div class="input-group-btn">
                                            <button class="btn btn-primary ">BUSCAR</button>
                                        </div>
                                        <!-- /btn-group -->
                                        <input type="text" name="cedula" #name="ngModel"
                                            [(ngModel)]="facturaService.selectedContrato.cedula" style="width: 50%;"
                                            class="form-control">
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>

                    <br>
                    <div class="col-xs-12 table-responsive">



                        <table class="table table-bordered">

                            <thead>
                                <tr>
                                    <th style="width:1px; "> # </th>

                                    <th>NOMBRE</th>
                                    <th>APELLIDO</th>
                                    <th>TELEFONO</th>
                                    <th>DIRECCION</th>
                                    <th>PLAN</th>
                                    <th>PRECIO</th>
                                    <th>ESTADO</th>
                                    <th>ACCION</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let contrato of facturaService.contratos | paginate:{itemsPerPage:5, currentPage: pageActual}; let i = index ">

                                    <td>{{i+1}}</td>
                                    <td style="text-align: left ;">{{contrato.nombre}}</td>
                                    <td style="text-align: left ;">{{contrato.apellido}}</td>
                                    <td style="text-align: left ;">{{contrato.telefono}}</td>
                                    <td style="text-align: left ;">{{contrato.direccion}} </td>

                                    <td>{{contrato.nombre_plan}}</td>
                                    <td>$ {{contrato.precio}} </td>
                                    <td>
                                        <span class="label label-danger" *ngIf="contrato.estado == 0"> Pendiente</span>
                                        <span class="label label-success" *ngIf="contrato.estado != 0">Pagado</span>
                                    </td>



                                    <td> <a class="btn   btn-sm btn-primary pull-left" (click)="editFactura(contrato) " style="margin: 2px;"
                                            data-toggle="modal" data-target="#myModal">
                                            <i class="fa  fa-pencil-square-o"></i></a>
                                        <a *ngIf="contrato.estado != 0" class="btn   btn-sm btn-warning pull-left"
                                            style="margin: 2px;" data-toggle="modal" data-target="#myModal">
                                            <i class="fa  fa-print"></i></a>

                                    </td>

                                </tr>


                            </tbody>
                            <tfoot>

                            </tfoot>
                        </table>

                    </div>
                </div>
                    <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>

            </div>
            <!-- /.tab-pane -->
            <div class="tab-pane" id="tab_2">
                <div class="box-body">
                <div class="col-xs-12 table-responsive">
                
                    <table class="table table-bordered">
                
                        <thead>
                            <tr>
                                <th style="width:1px; "> # </th>
                
                                <th>NOMBRE</th>
                                <th>APELLIDO</th>
                                <th>TELEFONO</th>
                                <th>DIRECCION</th>
                                <th>PLAN</th>
                                <th>PRECIO</th>
                                <th>ESTADO</th>
                              
                
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let contrato of facturaService.facturas | paginate:{itemsPerPage:5, currentPage: pageActual}; let i = index " >
                
                                <td *ngIf="contrato.estado == 1" >{{i+1}}</td>
                                <td  *ngIf="contrato.estado == 1" style="text-align: left ;">{{contrato.nombre}}</td>
                                <td  *ngIf="contrato.estado == 1" style="text-align: left ;">{{contrato.apellido}}</td>
                                <td  *ngIf="contrato.estado == 1" style="text-align: left ;">{{contrato.telefono}}</td>
                                <td  *ngIf="contrato.estado == 1" style="text-align: left ;">{{contrato.direccion}} </td>
                
                                <td *ngIf="contrato.estado == 1" >{{contrato.nombre_plan}}</td>
                                <td *ngIf="contrato.estado == 1" >$ {{contrato.precio}} </td>
                                <td *ngIf="contrato.estado == 1" >
                                    <span class="label label-success" *ngIf="contrato.estado == 1">Pagado</span>
                                </td>
                
                            </tr>
                
                
                        </tbody>
                        <tfoot>
                
                        </tfoot>
                    </table>
                
                </div>

                </div>

            </div>
            <!-- /.tab-pane -->
            <div class="tab-pane" id="tab_3">
                <div class="box-body">
                <div class="col-xs-12 table-responsive">
                
                    <table class="table table-bordered">
                
                        <thead>
                            <tr>
                                <th style="width:1px; "> # </th>
                
                                <th>NOMBRE</th>
                                <th>APELLIDO</th>
                                <th>TELEFONO</th>
                                <th>DIRECCION</th>
                                <th>PLAN</th>
                                <th>PRECIO</th>
                                <th>ESTADO</th>
                              
                
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let contrato of facturaService.facturas | paginate:{itemsPerPage:5, currentPage: pageActual}; let i = index " >
                
                                <td *ngIf="contrato.estado == 0" >{{i+1}}</td>
                                <td  *ngIf="contrato.estado == 0" style="text-align: left ;">{{contrato.nombre}}</td>
                                <td  *ngIf="contrato.estado == 0" style="text-align: left ;">{{contrato.apellido}}</td>
                                <td  *ngIf="contrato.estado == 0" style="text-align: left ;">{{contrato.telefono}}</td>
                                <td  *ngIf="contrato.estado == 0" style="text-align: left ;">{{contrato.direccion}} </td>
                
                                <td *ngIf="contrato.estado == 0" >{{contrato.nombre_plan}}</td>
                                <td *ngIf="contrato.estado == 0" >$ {{contrato.precio}} </td>
                                <td *ngIf="contrato.estado == 0" >
                                    <span class="label label-danger" *ngIf="contrato.estado == 0"> Pendiente</span>
                                    <span class="label label-success" *ngIf="contrato.estado != 0">Pagado</span>
                                </td>
                
                            </tr>
                
                
                        </tbody>
                        <tfoot>
                
                        </tfoot>
                    </table>
                
                </div>
                </div>
                                    <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>

            </div>
            <!-- /.tab-pane -->
        </div>
        <!-- /.tab-content -->
    </div>
</section>


<div class="modal modal-succes" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Detalle Pago</h4>
            </div>
            <form  #facturaForm="ngForm" (ngSubmit)="addFactura(facturaForm)">
                <div class="modal-body">

                    <div class="box-body">


<input type="hidden" name="idfactura" #idfactura  [(ngModel)]="facturaService.selectedContrato.idfactura" >
                        <div class="row">
                            <div class="col-md-6">
                              
                                <div class="form-group">
                                    <label>NOMBRE (*)</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-user"></i>
                                        </div>
                                        <input type="text" name="nombre" class="form-control" #name="ngModel"
                                            [(ngModel)]="facturaService.selectedContrato.nombre" disabled>
                                    </div>
                        
                        
                                </div>
                            <div class="form-group">
                                <label>N DE CEDULA </label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-credit-card"></i>
                                    </div>
                                    <input type="text" name="cedula" class="form-control" #name="ngModel"
                                        [(ngModel)]="facturaService.selectedContrato.cedula" disabled>
                                </div>
                            
                            
                            </div>
                               
                            <div class="form-group">
                                <label for="">PROXIMO PAGO</label>
                                <div class="input-group ">
                                    <span class="input-group-addon">
                                        <i class="fa  fa-calendar"></i>
                                    </span>
                                    <input type="number" class="form-control" name="fecha_pago_prox"
                                        #name="ngModel" [(ngModel)]="facturaService.selectedContrato.fecha_pago_prox" required>
                                </div>
                            </div>
                         
                            </div>
                            <div class="col-md-6">
                            
                                <div class="form-group">
                                    <label>APELLIDO</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-user"></i>
                                        </div>
                                        <input type="text" name="apellido" class="form-control" #name="ngModel"
                                            [(ngModel)]="facturaService.selectedContrato.apellido" disabled>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="">FECHA PAGO</label>
                                    <div class="input-group ">
                                        <span class="input-group-addon">
                                            <i class="fa  fa-calendar"></i>
                                        </span>
                                        <input type="date" class="form-control" data-inputmask="'alias': 'dd/mm/yyyy'" name="fecha_actual"
                                            #name="ngModel" [(ngModel)]="facturaService.selectedContrato.fecha_actual" data-mask required>
                                    </div>
                                </div>
                            
                            
                            
                            
                            
                            
                            </div>
                        
                         
                        </div>
                        <!-- /.row -->

                        <div class="row">
                            <div class="col-xs-12 table-responsive">
                                <table class="table table-striped table-bordered"  >
                                    <thead>
                                        <tr >
                                            <th>#</th>
                                            <th>PLAN</th>
                                          
                                            <th>DESCRIPCION</th>
                                            <th>SUBTOTAL</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>{{facturaService.selectedContrato.nombre_plan}}</td>
                                           
                                            <td>{{facturaService.selectedContrato.descripcion}}</td>
                                            <td>$ {{facturaService.selectedContrato.precio}}</td>
                                        </tr>
                                       
                                      
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.col -->
                        </div>

                        <div class="row">
                           
                            <div class="col-xs-6">
                             
                        
                                <div class="table-responsive">
                                    <table class="table">
                                     
                                        <tr>
                                            <th>Total:</th>
                                            <td>$ {{facturaService.selectedContrato.precio}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn pull-left" data-dismiss="modal" ><i
                            class="fa fa-remove"></i> Cerrar</button>
                    
                    <button class="btn  btn-primary"> <i class="fa  fa-folder"></i> Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>