<!-- Main Header -->
<header class="main-header">

    <!-- Logo -->
    <a routerLink="/inicio" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>P</b>NT</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>Portal</b>NET</span>
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">

                <!-- User Account Menu -->
                <li class="dropdown user user-menu">
                    <!-- Menu Toggle Button -->
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <!-- The user image in the navbar-->
                        <img src="../../../assets/img/portalnet.jpeg" class="user-image" alt="User Image">
                        <!-- hidden-xs hides the username on small devices so only the image appears. -->
                        <span class="hidden-xs">Nombre Usuarios</span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- The user image in the menu -->
                        <li class="user-header">
                            <img src="../../../assets/img/portalnet.jpeg" class="img-circle" alt="User Image">

                            <p>
                                Nombre
                                <small>fecha creacion</small>
                            </p>
                        </li>

                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="#" class="btn btn-default btn-flat">Perfil</a>
                            </div>
                            <div class="pull-right">
                                <a href="#" class="btn btn-default btn-flat">Salir</a>
                            </div>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
    </nav>
</header>
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <!-- Sidebar user panel (optional) -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="../../../assets/img/avatar5.png" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>Nombre_usuario</p>

            </div>
        </div>


        <!-- Sidebar Menu -->
        <ul class="sidebar-menu">
            <li class="header">NAVEGACION</li>
            <!-- Optionally, you can add icons to the links -->
            <li routerLinkActive="active"><a routerLink="inicio"><i class="fa fa-dashboard"></i> <span>Inicio</span></a>
            </li>
<li routerLinkActive="active"><a routerLink="/contratos"><i class="fa fa-briefcase"></i> <span>Contratacion De Servicio</span></a>
</li>
           

            <li class="treeview">
                <a href="#"><i class="fa  fa-wrench"></i> <span>Asistencia Tecnica</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li routerLinkActive="active"><a routerLink=""> <span>Traslados</span></a></li>
                    <li routerLinkActive="active"><a routerLink=""> <span>Visita Tecnica</span></a></li>
                </ul>
            </li>
            <li routerLinkActive="active"><a routerLink="servicios"><i class="fa  fa-sitemap"></i>
                    <span>Servicios</span></a>
            </li>
        <li class="treeview">
            <a href="#"><i class="fa  fa-users"></i> <span>Clientes</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li routerLinkActive="active"><a routerLink=""> <span>Abonado</span></a>
                </li>
                <li routerLinkActive="active"><a routerLink=""> <span>Contrato</span></a></li>
                      <li routerLinkActive="active"><a routerLink=""> <span>Orden Instalacion</span></a></li>

            </ul>
        </li>
            <li class="treeview">
                <a href="#"><i class="fa  fa-pie-chart"></i> <span>Finanzas</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li routerLinkActive="active"><a routerLink="proveedores"> <span>Factura de Servicios</span></a>
                    </li>
                    <li routerLinkActive="active"><a routerLink="equipos"> <span>Factura de Productos</span></a></li>
                </ul>
            </li>
            <li class="treeview" routerLinkActive="active">
                <a href="#"><i class="fa fa-th-large"></i> <span>Almacen</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li routerLinkActive="active"><a routerLink="/proveedores">Proveedores</a></li>
                    <li routerLinkActive="active"><a routerLink="/equipos">Equipos ISP</a></li>
                    <li routerLinkActive="active"><a href="#">Productos Cyber</a></li>
                </ul>
            </li>

            <li class="treeview" routerLinkActive="active">
                <a href="#"><i class="fa fa-pie-chart"></i> <span>Ajustes</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li routerLinkActive="active"><a href="#">Usuarios</a></li>

                </ul>
            </li>
        </ul>

        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>